@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

@mixin for-portrait {
  @media (min-width: 100px) {
    @content;
  }
}
@mixin for-landscape {
  @media (min-width: 1400px) {
    @content;
  }
}

body {
  font-family: "Righteous", cursive;
  background: #ebf3fa;
  color: #31456a;
  margin: 0;
}

.container {
  display: grid;

  @include for-portrait {
    // grid-template-rows: 56.5vh 60px calc(53.5vh - 60px);
    grid-template-areas:
      "player player"
      "navbar controls"
      "content content";
  }

  @include for-landscape {
    grid-template-columns: 280px 1fr;
    grid-template-rows: 60px calc(100vh - 110px) 50px;
    grid-template-areas:
      "navbar player"
      "content player"
      "content controls";
  }
}

.player-container {
  grid-area: player;
  position: relative;
  
  // top: 0;
  // opacity: 100%;
  padding-top: 56.25%;
  #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.player-controls {
  grid-area: controls;
  // background: red;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-content: center;
  display: flex;
  button {
    font: inherit;
    display: block;
    cursor: pointer;
    // margin-top: 4px;
    // height: 100%;
    margin-left: 2px;
    stroke-width: 1;
    padding: 2px;
    // border-radius: 24px;
    background: #E3EDF7;
    // width: 36px;
    // height: 36px;
    &:hover {
      background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    }
    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
    position: relative;
    // background: red;
    &::after {
      display: block;
      color: gray;
      font-size: 11px;
      padding-bottom: 4px;
      content: var(--shortcut);
    }
    img {
      width: 32px;
      height: 30px;
    }
  }

  .playback {
    position: relative;
    &::before {
      content: "Speed:";
      display: inline;
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 11px;
      color: gray;
    }
    display: flex;
    h4 {
      margin-left: 8px;
      cursor: pointer;
      &.active {
       color: seagreen;
      }
    }
  }
}

.content {
  grid-area: content;
  
  &::before {
      display: block;
      content: "";
      width: 100%;
      height: 20px;
      background: linear-gradient(75deg, #ffffff -30.86%, #ecf1f7 -10.72%, #cfdceb 112.31%);
      box-shadow: inset 4px 4px 6px rgba(18, 46, 101, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
      margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    // height: 95%;
    overflow: hidden;
    overflow-y: scroll;
    max-height: inherit;
    // @include for-portrait {
    //   max-height: inherit;
    //   // max-height: 36vh;
    // }
    // @include for-landscape {
    //   max-height: inherit;
    //   // max-height: 81vh;
    // }
    li:hover {
      background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    }
    // overflow: hidden;
    // overflow-y: scroll;
  }
}

.navbar {
  grid-area: navbar;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 12px;
  position: relative;
  padding-left: 1.25em;
  font-size: 30px;
  color: #31456a;
  &::before {
    content: "";
    position: absolute;
    top: 0.40em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #000;
    border-bottom: 0.125em solid #000;
    color: #31456a;
  }
}

.load {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  // margin-top: 2px;
  & input {
    font: inherit;
    display: block;
    text-align: center;
    &[type="text"] {
      font-size: 18px;
      background: none;
      width: 35%;
      min-width: 240px;
      outline: none;
      border: none;
      color: #17305e;
      border-bottom: 2px solid #93B6DE;
      align-self: center;
    }
    &[type="submit"] {
      background: none;
      font-size: 18px;
      border: none;
      padding: 8px 25px 8px 25px;
      cursor: pointer;
      align-self: center;
      margin-top: 12px;
      border-radius: 16px;
      color:  #31456a;
      border: 2px solid #31456a;
      &:hover {
        background: linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
      }
    }
  }
}

.nav {
  // background: red;
  font-size: 24px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;;
  & a {
    display: block;
    // text-align: center;
    max-width: 50%;
    color: #31456a;
    text-align: center;
    margin: 10px auto;
    padding: 8px 25px 8px 25px;
    border-radius: 14px;
    border: 2px solid #93B6DE;
    &:hover {
      background: linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    }
  }
}

.library,
.loops  {
  display: grid;
  // grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
  padding: 0;
  overflow: hidden;
  height: inherit;
  // background: black;
  
  .header {
    display: flex;
    justify-content: space-between;
  }

  .loop {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr;
    
    padding-right: 12px;
    padding-left: 12px;
    justify-content: space-between;
    
    background: linear-gradient(0deg, #e3edf7, #e3edf7);
    border-radius: 16px;
    cursor: pointer;
    transition: 0.4s;
    
    &.active {
      background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    }
    // &:hover {
    //   transform: scale(0.9, 0.9);
    //   background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    //   box-shadow: 5px 5px 20px 7px rgba(0,0,0,0.25), 
    //     -5px -5px 15px 7px rgba(0,0,0,0.22);
    // }
    h4 {
      margin: 0;
      padding: 8px;
      font-size: 14px;

      &.shortcut {
        // // text-align: end;
        // color: #8ca2b7;
        // font-size: 14px;
      }

      &.label {
        color: #8ca2b7;
        font-size: 14px;
        text-align: end;
        margin-bottom: 0;
      }

      &.interval {
        // text-align: end;
      }
      
    }
  }
  
  .video-card {
    display: grid;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    grid-template-columns: 1fr 20px;
    border: 1px solid rgba(18, 46, 101, 0.1);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
    max-height: 300px;
    // text-align: center;
    & h4 {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
    }
    & img {
      grid-column: 1 / 3;
      opacity: 90%;
      display: block;
      width: 100%;
  max-width: 100%;
      border-radius: 8px;
      // margin: 10px;
      object-fit: cover;
    }

    &:hover {
      transform: scale(0.9, 0.9);
      background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
      box-shadow: 5px 5px 20px 7px rgba(0,0,0,0.25), 
        -5px -5px 15px 7px rgba(0,0,0,0.22);
    }
  }
}

.remove {
  text-align: end;
  &:hover {
   color:  firebrick;
  }
}
