@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
body {
  font-family: "Righteous", cursive;
  background: #ebf3fa;
  color: #31456a;
  margin: 0;
}

.container {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 100px) {
  .container {
        grid-template-areas: "player player" "navbar controls" "content content";
  }
}

@media (min-width: 1200px) {
  .container {
    -ms-grid-columns: 280px 1fr;
        grid-template-columns: 280px 1fr;
    -ms-grid-rows: 60px 1fr 50px;
        grid-template-rows: 60px 1fr 50px;
        grid-template-areas: "navbar player" "content player" "content controls";
  }
}

.player-container {
  grid-area: player;
  position: relative;
  padding-top: 56.25%;
}

.player-container #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-controls {
  grid-area: controls;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player-controls input {
  display: block;
  margin-top: 4px;
  margin-left: 10px;
  stroke-width: 1;
  padding: 2px;
  border-radius: 24px;
  background: -webkit-gradient(linear, left bottom, left top, from(#E3EDF7), to(#E3EDF7));
  background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
  width: 36px;
  height: 36px;
}

.player-controls input:hover {
  background: linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
}

.player-controls input.disabled {
  pointer-events: none;
  opacity: 0;
}

.player-controls .playback {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player-controls .playback::before {
  content: "Speed:";
  display: inline;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 11px;
  color: gray;
}

.player-controls .playback h4 {
  margin-left: 8px;
  cursor: pointer;
}

.player-controls .playback h4.active {
  color: seagreen;
}

.content {
  grid-area: content;
}

.content::before {
  display: block;
  content: "";
  width: 100%;
  height: 20px;
  background: linear-gradient(75deg, #ffffff -30.86%, #ecf1f7 -10.72%, #cfdceb 112.31%);
  -webkit-box-shadow: inset 4px 4px 6px rgba(18, 46, 101, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
          box-shadow: inset 4px 4px 6px rgba(18, 46, 101, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
  margin: 0;
}

.content ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}

@media (min-width: 100px) {
  .content ul {
    max-height: 36vh;
  }
}

@media (min-width: 1200px) {
  .content ul {
    max-height: 81vh;
  }
}

.content ul li:hover {
  background: linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
}

.navbar {
  grid-area: navbar;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 12px;
  position: relative;
  padding-left: 1.25em;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0.30em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}

.loops {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
  padding: 0;
}

.loops .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loops .loop {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, left top, from(#e3edf7), to(#e3edf7));
  background: linear-gradient(0deg, #e3edf7, #e3edf7);
  border-radius: 16px;
  cursor: pointer;
}

.loops .loop.active {
  background: linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
}

.loops .loop h4 {
  margin: 8px;
  font-size: 14px;
}

.loops .loop h4.label {
  color: #8ca2b7;
  font-size: 14px;
  text-align: end;
  margin-bottom: 0;
}

.loops .loop h4.remove {
  text-align: end;
  height: 100%;
}

.loops .loop h4.remove:hover {
  color: firebrick;
}
/*# sourceMappingURL=styles.css.map */