@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

@mixin for-portrait {
  @media (min-width: 100px) {
    @content;
  }
}
@mixin for-landscape {
  @media (min-width: 1200px) {
    @content;
  }
}

body {
  font-family: "Righteous", cursive;
  background: #ebf3fa;
  color: #31456a;
  margin: 0;
}

.container {
  display: grid;

  @include for-portrait {
    grid-template-areas:
      "player player"
      "navbar controls"
      "content content";
  }

  @include for-landscape {
    grid-template-columns: 280px 1fr;
    grid-template-rows: 60px 1fr 50px;
    grid-template-areas:
      "navbar player"
      "content player"
      "content controls";
  }
}

.player-container {
  grid-area: player;
  position: relative;
  // top: 0;
  padding-top: 56.25%;
  #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.player-controls {
  grid-area: controls;
  // background: red;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-content: center;
  display: flex;
  input {
    display: block;
    margin-top: 4px;
    margin-left: 10px;
    stroke-width: 1;
    padding: 2px;
    border-radius: 24px;
    background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
    width: 36px;
    height: 36px;
    &:hover {
      background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    }
    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

  .playback {
    position: relative;
    &::before {
      content: "Speed:";
      display: inline;
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 11px;
      color: gray;
    }
    display: flex;
    h4 {
      margin-left: 8px;
      cursor: pointer;
      &.active {
       color: seagreen;
      }
    }
  }
}

.content {
  grid-area: content;

  &::before {
    
      display: block;
      content: "";
      width: 100%;
      height: 20px;
      background: linear-gradient(75deg, #ffffff -30.86%, #ecf1f7 -10.72%, #cfdceb 112.31%);
      box-shadow: inset 4px 4px 6px rgba(18, 46, 101, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
      margin: 0;
    
  }

  ul {
    list-style: none;
    padding: 0;
    @include for-portrait {
      max-height: 36vh;
    }
    @include for-landscape {
      max-height: 81vh;
    }
    li:hover {
      background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    }
    overflow: hidden;
    overflow-y: auto;
  }
}

.navbar {
  grid-area: navbar;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 12px;
  position: relative;
  padding-left: 1.25em;
  &::before {
    content: "";
    position: absolute;
    top: 0.30em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #000;
    border-bottom: 0.125em solid #000;
  }
}

.loops {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
  padding: 0;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .loop {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr;
    
    padding-right: 12px;
    padding-left: 12px;
    justify-content: space-between;
    
    background: linear-gradient(0deg, #e3edf7, #e3edf7);
    border-radius: 16px;
    cursor: pointer;

    
    &.active {
      background:  linear-gradient(204.92deg, #FFFFFF 19.31%, #93B6DE 78.15%);
    }
    
    h4 {
      margin: 8px;
      font-size: 14px;

      &.shortcut {
        // // text-align: end;
        // color: #8ca2b7;
        // font-size: 14px;
      }

      &.label {
        color: #8ca2b7;
        font-size: 14px;
        text-align: end;
        margin-bottom: 0;
      }

      &.interval {
        // text-align: end;
      }
      &.remove {
        text-align: end;
        height: 100%;
        &:hover {
         color:  firebrick;
        }
      }
    }
  }
  
}
